body {
    background-image: url('/img/plano.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10);
    color: white;
    margin: 0;
    padding: 0;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#senhaLogin {
    border: none;
    box-shadow: 10px 5px 10px rgb(177, 246, 255);
    width: 90%;
    border-radius: 20px;
    height: 25px;
}
#nomeTurma {
    border: none;
    box-shadow: 10px 5px 10px rgb(177, 246, 255);
    width: 90%;
    border-radius: 20px;
    height: 25px;
}
